#body {
    background: linear-gradient(to bottom right, #0e46ffe0, #fa0577);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
}

#h1 {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#p1 {
    color: rgb(131, 52, 131);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: larger;
}

#result {
    color: chartreuse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

#add1 {
    color: chartreuse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border-radius: 15px 15px;
}

#sub1 {
    color: chartreuse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

#num1lab {
    color: rgb(17, 179, 190);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

#num2lab {
    color: rgb(71, 188, 209);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

#submit {
    background-color: blue;
    color: rgb(28, 226, 150);
    border-style: ridge;
    border-color: cyan;
    height: 25px;
    width: 75px;
    font: bold 15px Arial, Helvetica, sans-serif;
    text-shadow: darkgray;
    border-radius: 15px 15px;
}